*{
    font-family: Tahoma;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1
{
    position: absolute;
    text-align: center;
    color: #efd5d7;
}

.column
{
    width: 30%;
    min-height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.column-left
{
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.column-center
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radial-gradient
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(circle at 50% -20%, #23313c, #202f3b, #1e2d39, #1b2b38, #1a2632, #181f28, #15181f, #101115);
}

/*#experience
/*{
/*    position: fixed;
/*    height: 100%;
/*    width: 100%;
/*    top: 0;
/*    left: 0;
/*    overflow: hidden;
/*}
/*
/*#experience-canvas
/*{
/*    width: 100%;
/*    height: 100%;
/*    overflow: hidden;
/*}